.modal .modal-dialog .modal-content .modal-body .container {
    background-color: #dfdfdf;
    border-radius: 10px;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .22);
}

.modal .modal-dialog .modal-content .modal-body .container .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.4s;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
}

.modal .modal-dialog .modal-content .modal-body .container .form-container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-container,
.overlay-container h1 {
    font-weight: bold;
    margin: 0;
}

.modal .modal-dialog .modal-content .modal-body .container .form-container a {
    position: relative;
    display: flex;
    right: 30%;
    color: #1d1d1d;
    font-size: 14px;
    /* text-decoration: none; */
    margin: 15px 0;
}

.modal .modal-dialog .modal-content .modal-body .container .form-container input {
    background: #fff;
    border: none;
    margin: 8px 0;
    border-radius: 20px;
    padding: 12px 15px;
    text-decoration: none;
    width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .container .form-container button {
    border-radius: 20px;
    border: none;
    overflow: hidden;
    display: flex;
    background: linear-gradient(to right, #28397d, #2188ce) !important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-body .container .overlay-container button {
    border-radius: 20px;
    box-shadow: none;
    overflow: hidden;
    display: flex;
    background: linear-gradient(to right, #28397d, #2188ce) !important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.overlay {
    background: linear-gradient(to right, #28397d, #2188ce) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.modal .modal-dialog .modal-content .modal-body .container .overlay-container button.active {
    transform: scale(.95);
}

.modal .modal-dialog .modal-content .modal-body .container .overlay-container button.press {
    background-color: transparent;
    border-color: #fff;
}

.modal .modal-dialog .modal-content .modal-body .container .form-container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: slide 0.6s;
}

@keyframes slide {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}