:root {
    --pink: #e84393;
    --biru: #2188ce;
    --birutua: #28397d;
}

* {
    box-sizing: border-box;
}

.bg-danger {
    background: linear-gradient(to right, #28397d, #2188ce) !important;
    height: 4.4rem !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1),
        0 2px rgba(0, 0, 0, 0.1),
        0 3px rgba(0, 0, 0, 0.1),
        0 4px rgba(0, 0, 0, 0.1);
}


.offcanvas-body {
    position: absolute;
    margin-left: 10%;
    margin-top: 4px;
}

#navbarNav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.nav-menu>ul {
    display: flex;
}

li a #user {
    font-size: large;
    color: white;
    margin-top: 8px;
}




/* content Image */
.container-fluid .container {
    overflow: hidden;
    z-index: -1;
    height: 80vh;
}

.container-fluid .container img {
    position: relative;
    display: flex;
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
}



/* footer */
.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer .box-container .box img {
    height: 5rem;
    margin-top: 1rem;
}

.footer .credit {
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--pink);
}