.bg-danger {
    background: linear-gradient(to right, #28397d, #2188ce) !important;
    height: 4.4rem !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1),
        0 2px rgba(0, 0, 0, 0.1),
        0 3px rgba(0, 0, 0, 0.1),
        0 4px rgba(0, 0, 0, 0.1);
}


.offcanvas-body {
    position: absolute;
    margin-left: 10%;
    margin-top: 4px;
}

#navbarNav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.nav-menu>ul {
    display: flex;
}

li a #user {
    font-size: large;
    color: white;
    margin-top: 8px;
}




/* content Image */
.container-fluid .container {
    overflow: hidden;
    z-index: -1;
    height: 80vh;
}

.container-fluid .container img {
    position: relative;
    display: flex;
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
}